extends layout

block content
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12
          #l
            .jumbotron
              h1 欢迎XXX聊天室
              p 这是一个测试中的聊天室。
            #login
              input(type="text", value="", placeholder="请输入昵称")
              input(type="button", value="使用")
    .row.main#d
      .col-xs-12.col-sm-12.col-md-12
        #count
          | 在线人数
          span.text-danger -
          | 人
        #userlist.highlight
          ol
      .col-xs-12.col-sm-12.col-md-12
        #message.highlight
          .scroll
            ul
        #send
          .row
            .col-xs-8.col-sm-6.col-md-10
              input(type="text", class="form-control", value="", placeholder="请输入信息")
            .col-xs-4.col-sm-6.col-md-2
              input(type="button", class="btn btn-success btn-block", value="提交")

  script(src='/javascripts/jquery-1.11.2.min.js')
  script(src='/javascripts/socket.io.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/index.js')