extends layout

block content
  .container
    .row
      .col-md-12
        #l
          .jumbotron
            h1 欢迎来到匿聊
            p 这是一个的匿名聊天室(测试中)。
          #login
            input(type="text", value="", placeholder="请输入昵称")
            input(type="button", value="使用")
    .row.main#d
      .col-md-12
        #count
          | 在线人数
          span.text-success -
          | 人
        #userlist.highlight
          ol
      .col-md-12
        #message.highlight
          .scroll
            ul
        #send
          .row
            .col-md-10
              input(type="text", class="form-control", value="", placeholder="请输入信息")
            .col-md-1#pb
              button.btn.btn-default.btn-block(type='button')
                span.glyphicon.glyphicon-plus
              .expression#expression
                ul
                  - for (var i = 1; i <= 100; i++)
                    li
                      img(src="images/QQexpression/#{i}.gif", data-eindex="/e#{i}")
            .col-md-1
              input(type="button", class="btn btn-success btn-block", value="提交")

  script(src='/javascripts/jquery-1.11.2.min.js')
  script(src='/javascripts/socket.io.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/index.js')